@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/jquery-nice-select/scss/nice-select";

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
        url('../fonts/FuturaPT-Heavy.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-MediumObl.eot');
    src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'),
        url('../fonts/FuturaPT-MediumObl.eoteot') format('embedded-opentype'),
        url('../fonts/FuturaPT-MediumObl.woff') format('woff'),
        url('../fonts/FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-Medium.eot');
    src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'),
        url('../fonts/FuturaPTCond-Medium.eot') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-Medium.woff') format('woff'),
        url('../fonts/FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-LightObl.eot');
    src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'),
        url('../fonts/FuturaPT-LightObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-LightObl.woff') format('woff'),
        url('../fonts/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT-Book.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-Bold.eot');
    src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'),
        url('../fonts/FuturaPTCond-Bold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-Bold.woff') format('woff'),
        url('../fonts/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url('../fonts/FuturaPT-BookObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('FuturaPTCond-ExtraBoldObl.eot');
    src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'),
        url('../fonts/FuturaPTCond-ExtraBoldObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url('../fonts/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url('../fonts/FuturaPT-Light.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-BoldObl.eot');
    src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'),
        url('../fonts/FuturaPT-BookObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('FuturaPT-DemiObl.eot');
    src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'),
        url('../fonts/FuturaPT-DemiObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-DemiObl.woff') format('woff'),
        url('../fonts/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('FuturaPTCond-ExtraBold.eot');
    src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'),
        url('../fonts/FuturaPTCond-ExtraBold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/FuturaPT-Demi.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-HeavyObl.eot');
    src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'),
        url('../fonts/FuturaPT-HeavyObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-HeavyObl.woff') format('woff'),
        url('../fonts/FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('FuturaPT-ExtraBoldObl.eot');
    src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'),
        url('../fonts/FuturaPT-ExtraBoldObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBoldObl.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('FuturaPTCond-Book.eot');
    src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'),
        url('../fonts/FuturaPTCond-Book.eot') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-Book.woff') format('woff'),
        url('../fonts/FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/FuturaPT-Bold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url('../fonts/FuturaPT-ExtraBold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-BoldObl.eot');
    src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'),
        url('../fonts/FuturaPTCond-BookObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-BookObl.woff') format('woff'),
        url('../fonts/FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-MediumObl.eot');
    src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'),
        url('../fonts/FuturaPTCond-MediumObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-MediumObl.woff') format('woff'),
        url('../fonts/FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('FuturaPTCond-BookObl.eot');
    src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'),
        url('../fonts/FuturaPTCond-BookObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-BookObl.woff') format('woff'),
        url('../fonts/FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


$blue: #089ee7;


.header{
    padding: 23px 0 22px;
    &__block{
        display: flex;
        align-items: center;
    }
    &__logo{
        margin-right: 50px;
    }
}
.logo{
    &__link{
        display: flex;
        align-items: center;
    }
    &__text{
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;   
        line-height: 1;     
    }
    
    &__subtitle{
        font-family: 'Futura PT Demi';
        font-size: 12px;
        line-height: 1;
    }
    .icon-logo{
        width: 40px;
        height: 34px;
        fill: $blue;
        margin-right: 10px;
    }
}
.text__item--blue{
    color: $blue;
}
.town{
    display: flex;
    align-items: center;
    &__title{
        font-family: 'Futura PT Demi';
        font-size: 14px;
        margin-right: 10px;
        white-space: nowrap;
    }

}
.town-select{
    border-color: $blue;
    border-radius: 5px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 11px 17px 11px 12px;
    width: 143px;
    &::after{
        border-color: #000;
    }
}
.call-block{
    display: flex;
    align-items: center;
    margin-left: auto;
    &__number{
        font-weight: 800;
        font-size: 26px;
    }
}
.number{
    white-space: nowrap;
    margin-right: 19px;
    &__link{
        font-weight: 800;
        font-size: 26px;
        
    }
    .icon-number{
        width: 18px;
        height: 18px;
        fill: $blue;
        margin-right: 4px;
    }
}
.button{
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(8,158,231,1) 35%, rgba(68,186,244,1) 100%);
    color: #fff;
    height: 49px;
    padding: 17px 15px 17px 23px;
    width: 210px;
    text-align: left;
    display: flex;
    font-family: 'Futura PT Demi';
    white-space: nowrap;
    font-size: 16px;
    position: relative;
    -webkit-box-shadow: 0px 10px 19px -5px rgba(8,158,231,0.63);
    -moz-box-shadow: 0px 10px 19px -5px rgba(8,158,231,0.63);
    box-shadow: 0px 10px 19px -5px rgba(8,158,231,0.63);
    overflow: hidden;
    position: relative;
    
    .icon{
        position: absolute;
        right: 23px;
    }
    .icon-call{
        width: 15px;
        height: 16px;
        fill: #fff;
        margin-left: 40px;
    }
    &:after{
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        opacity: .08;
        background-color: #fff;
        border-radius: 50%;
        right: -9px;
        top: -4px;
    }
}
.menu{
    
    border-top: 1px solid #ced2d4;  
    &__block{
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                a{
                    padding: 6px 33px;
                    font-weight: 500;
                    display: inline-block;
                    font-size: 18px;
                    position: relative;
                    transition: .3s;
                    &:before{
                        content: "";
                        display: none;
                        position: absolute;
                        width: calc(100% + 10px);
                        height: 3px;
                        background-color: $blue;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &:hover{
                        color: $blue;
                    }
                }
            }
            li.active{
                a{
                    &::before{
                        display: block;
                    }
                }
            }
        }
    }
}
.school{
    background-image: url(../img/school-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 164px 0 131px;
    &__title{
        font-weight: 800;
        font-size: 37px;
        text-transform: uppercase;
        line-height: 1;
    }
    &__title--big{
        font-size: 64px;
    }
    &__block-dotted{
        border: 1px dashed #fff;
        border-radius: 10px;
        padding: 30px 22px;
        display: flex;
        align-items: center;
        max-width: 456px;
        margin-top: 50px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 60px;
            height: 186px;
            background-image: url(../img/dotted.png);
            background-size: contain;
            background-repeat: no-repeat;
            right: -78px;
            bottom: -135px;
        }
    }
    &__block-dotted-text{
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
    }
    .icon-team{
        width: 35px;
        height: 30px;
        fill: #fff;
        margin-right: 16px;
    }
    &__form{
        margin-top: 72px;
        display: flex;
        flex-wrap: wrap;
    }
    &__form-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        padding-bottom: 16px;
    }
    &__input{
        width: 100%;
        padding: 18px 20px;
        border-radius: 5px;
        font-family: 'Futura PT Demi';
        font-size: 14px;
        height: 49px;
        color: #000;
        max-width: 261px;
        margin-right: 10px;
    }
    &__agreement{
        padding-top: 8px;
    }
    .icon-next{
        transform: translateY(20%);
    }
    &__button{
        max-width: 210px;
        width: 100%;
        box-sizing: border-box;
        padding-right: 18px;
    }
    .refrigerator{
        position: absolute;
        right: 0;
    }
    .washer{
        position: absolute;
        right: 316px;
        bottom: -179px;
    }
}
.icon-next{
    width: 8px;
    height: 13px;
    fill: #fff;
    position: relative;
    z-index: 99999999999999999999999999999;
    position: relative;
    margin-left: 22px;
    transform: translateY(20%);
}
.title{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    line-height: 1;
}
.earnings{
    position: relative;
    background-color: #fff;
    z-index: 2;
    padding: 98px 0 37px;
    &__payment{
        border: 1px dashed $blue;
        border-radius: 5px;
        padding: 61px 91px 58px 67px;
        margin-top: 40px;
    }
    &__input{
        border-radius: 4px;
        border: 2px solid #dcdcdc;
        padding: 17px;
        max-height: 49px;
        box-sizing: border-box;
        max-width: 259px;
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 900;
        &::placeholder{
            color: #000;
        }
    }
    &__select-town{
        border-radius: 4px;
        border: 2px solid #dcdcdc;
        max-width: 259px;
        width: 100%;
        height: 49px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 900;
    }
    &__payment-button{
        max-width: 259px;
        width: 100%;
    }
    .icon-next{
        margin-left: 36px;
    }
    &__exemplary{
        color: #8b8b8b;
        font-weight: 700;
        font-size: 18px;
    }
    &__exemplary-total{
        font-size: 26px;
    }
    &__stable{
        font-weight: 700;
        font-size: 18px;
        color: #000;
        padding-top: 40px;
    }
    &__stable-total{
        font-size: 26px;
        color: #ff0000;
    }
    &__reservation{
        background-color: $blue;
        color: #fff;
        padding: 51px 245px 53px;
        border-radius: 5px;
    }
    &__reservation-explanation{
        font-size: 14px;
        font-family: 'Futura PT Demi';
        text-align: center;
    }
    &__reservation-title{
        font-size: 18.6px;
        font-weight: 900;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px;
    }
    &__reservation-form{
        margin: 29px auto 0;
        text-align: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 540px;
    }
    &__reservation-input{
        padding: 17px;
        max-height: 49px;
        box-sizing: border-box;
        max-width: 259px;
        width: 100%;
        margin-right: 10px;
        font-size: 14px;
        font-weight: 900;
        border-radius: 4px;
        &::placeholder{
            color: #000;
        }
        
    }
    &__reservation-button{
        display: inline-block;
        max-width: 259px;
        width: 100%;
        background: rgb(251,170,54);
        background: linear-gradient(90deg, rgba(251,170,54,1) 0%, rgba(255,145,0,1) 100%);
        .icon-next{
            position: relative;
            right: -25%;
        }
    }
    &__reservation-agreement{
        margin-top: 13px;
    }
}
.about{
    &__img-block{
        height: 393px;
        border-radius: 5px;
        position: relative;
        z-index: 4;
    }
    &__img{
        display: block;
        height: 100%;
        width: 100%;
    }
    &__title{
        text-align: left;
    }
    &__text-block{
       padding: 36px 70px 44px 40px;
       border: 1px dashed $blue;
       margin-left: -11px;
       border-radius: 10px;
   }
   &__text{
       margin-top: 10px;
       font-weight: 500;
       font-size: 16px;
       line-height: 20px;
   }
   &__steps{
       margin-top: 30px;
   }
   &__steps-item{
       padding: 33px 20px 35px 28px;
       background-color: $blue;
       border-radius: 5px;
       display: flex;
       align-items: center;
       color: #fff;
       border: 1px dashed transparent;
       height: 94px;
       transition: .3s;
       cursor: pointer;
       &:hover{
           background-color: #fff;
           color: #000;
           border-color: $blue;
       }
   }
   &__steps-item + &__steps-item{
       margin-top: 30px;
   }
   &__steps-number{
       font-family: 'Futura PT Demi'; 
       font-size: 37px;
       line-height: 15px;
       margin-right: 15px;
   }
   &__steps-text{
       font-family: 'Futura PT Demi';
       font-size: 14px;
       line-height: 15px;

   }
}
.icon-list{
    width: 15px;
    height: 20px;
    fill: $blue;
}
.icon-contract{
    width: 19px;
    height: 19px;
    fill: $blue;
}
.program{
    padding: 99px 0 53px;
    &__container{
        border: 1px dashed $blue;
        padding: 65px 55px 53px;
        transition: .4s;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: $blue;
            border-color: transparent;
            color: #fff;
        }
        &:hover .program__button{
            background: rgb(251,170,54);
            background: linear-gradient(90deg, rgba(251,170,54,1) 0%, rgba(255,145,0,1) 100%);
        }
        &:hover .icon{
            fill: #fff;
        }
    }
    &__container-title{
        font-weight: 700;
        font-size: 22px;
    }
    &__container-subtitle{
        font-weight: 500;
        font-size: 16px;
    }
    &__list{
        font-family: 'Futura PT Book';
        font-size: 16px;
        margin-bottom: 38px;
    }
    &__list-item{
        display: flex;
        align-items: center;
    }
    &__list-text{
        font-size: 14px;
        line-height: 20px;
        margin-left: 11px;
        
    }
    &__price{
        font-weight: 700;
        font-size: 24px;
        display: inline-block;
    }
    &__button{
        display: inline-block;
        margin-left: 42px;
        transition: .4s;
        max-width: 259px;
        width: 100%;
        .icon-next{
            position: relative;
            right: -25%;
            transition: .4;
        }
    }
    &__title{
        padding-bottom: 35px;
    }
}

.employment{
    background-image: url(../img/employment-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 101px 0 115px;
    &__title{
        text-align: left;
        
    }
    &__subtitle{
        font-family: 'Futura PT Demi';
        font-size: 26px;
        padding-top: 40px;
    }
    &__number{
        font-family: 'Futura PT Demi';
        font-size: 42px;
        display: flex;
        align-items: center;
        padding: 23px 30px;
        border: 1px dashed $blue;
        border-radius: 5px;
        margin-top: 12px;
        max-width: 456px;
    }
    .icon-call{
        width: 37px;
        height: 38px;
        fill: $blue;
        margin-right: 15px;
    }
    &__form{
        margin-top: 50px;
    }
    &__form-title{
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 16px;
    }
    &__input{
        padding: 19px 20px 17px;
        border-radius: 5px;
        background-color: #fff;
        font-family: 'Futura PT Demi';
        font-size: 14px;
        max-height: 42px;
        display: inline-block;
        width: 100%;
        max-width: 261px;
        &::placeholder{
            color: #000;
        }
    }
    &__button{
        display: inline-block;
        margin-left: 10px;
    }
    &__agreement{
        display: block;
        margin-top: 8px;
    }

}
.map{
    transform: translateX(-79%);
}
.contacs{
    &__block{
        padding: 58px 37px 0;
    }
    &__title{
        text-align: left;
    }
    &__subtitle{
        font-weight: 700;
        font-size: 18px;
    }
    &__number{
        color: #e48000;
        display: flex;
        align-items: center;
        max-width: 220px;
        font-weight: 700;
        font-size: 26px;
        margin-top: 20px;
    }
    .icon-maps-and-flags{
        fill: #e48000;
        width: 14px;
        height: 19px;
        margin-right: 10px;
    }
    &__form{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__form-text{
        font-weight: 700;
        font-size: 18px;
        width: 100%;
    }
    &__input{
        border-radius: 5px;
        border: 1px solid $blue;
        padding: 16px 20px;
        height: 49px;
        font-size: 16px;
        font-weight: 700;
        max-width: 218px;
        margin-top: 13px;
        &::placeholder{
            color: #000;
        }
    }
    &__input + &__input{
        margin-left: 10px;
        margin-left: auto;
        display: inline-block;
    }
    &__textarea{
        border-radius: 5px;
        border: 1px solid $blue;
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
        max-height: 105px;
        padding: 20px;
        margin-bottom: 10px;
        &::placeholder{
            color: #000;
        }
    }
    &__button{
        max-width: 140px;
        width: 100%;
        justify-content: center;
        &:after{
            display: none;
        }
    }
    &__agreement{
        display: inline-block;
        width:  60%;
        font-size: 12px;
        font-weight: 700;
    }
}
.footer{
    padding: 26px 0 25px;
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__privacy{
        color: $blue;
        text-decoration: underline;   
        margin-left: auto; 
    }
    &__list{
        display: flex;
        align-items: center;
        margin: 0 30px;
    }
    &__list-item + &__list-item{
        padding-left: 10px;
    }
    &__list-link{
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
    }
    &__button{
        margin-left: 10px;
    }
}
.menu-adaptive{
    display: none;
    position: absolute;
    right: 0;
    top: 0px;
    background-color: #fff;
    z-index: 3;
    padding: 20px;
    padding-top: 65px;
    height: 100%;
    &__number{
        margin: 10px 0;
    }
    
    &__town{
        margin-bottom: 20px;
    }
    &__menu-block{
        display: block !important;
        >ul{
            flex-direction: column;
            align-items: flex-end;
            li{
                a{
                    text-align: right;
                   
                }
            }
        }
    }
    &__button{
        display: none;
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: none;
        width: 100%;
    }
}
.js-overflow{
    overflow: hidden;
}
@media screen and (max-width:1200px){
    .menu{
        &__block {
            ul{
                li{
                    a{
                        padding: 6px 20px;
                    }
                }
            }
        }
    }
    .school{
        padding: 134px 0 115px;
        .washer{
            display: none;
        }
        .refrigerator{
            display: none;
        }
        &__agreement{
            br{
                display: none;
            }
        }
        &__block-dotted{
            &::after{
                display: none;
            }
        }
        &__form-title{
            width: 100%;
        }
    }
    .earnings{
        &__reservation-input{
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    .map{
        transform: none;
        iframe{
            max-width: 100%;
        }
    }
}

@media screen and (max-width:992px){
    .header{
        &__town{
            display: none;
        }
        &__number{
            display: none;
        }
    }
    .footer{
        &__block{
            flex-wrap: wrap;
        }
    }
    .menu{
        display: none;
    }
    .earnings{
        &__input{
            margin: 0 auto 10px;
            display: block;
        }
        &__payment-button{
            margin: 0 auto;
            
        }
        &__exemplary{
            text-align: center;
            margin-top: 10px;
        }
        &__stable{
            text-align: center;
        }
        &__select-town{
            margin: 0 auto 10px;
            display: block;
            float: none;
        }
        &__reservation{
            padding: 51px 70px 53px;
        }
        &__reservation-input{
            margin-bottom: 0;
        }
    }
    .about{
        &__text-block{
            margin-left: 0;
        }
        &__steps-item{
            margin-bottom: 20px;
        }
    }
    .program{
        &__container{
            padding: 45px 30px;
        }
    }
    .map{
        margin-top: 20px;
    }
    .contacs{
        &__block{
            padding: 0;
            padding-top: 20px;
        }
        &__input{
            max-width: none;
            width: 49%;
        }
    }
}
@media screen and (max-width:768px){
    .footer{
        margin-top: 10px;
        &__block{
           flex-direction: column; 
        }
        &__logo{
            margin-bottom: 15px;
        }
        &__privacy{
            margin-left: 0;
            margin-bottom: 10px;
        }
        &__menu{
            margin-bottom: 10px;
        }
    }
    .school{
        padding: 80px 0;
        &__block-dotted{
            margin-top: 10px;
        }
        &__form{
            margin-top: 20px;
        }
        &__input{
            max-width: none;
            margin-right: 0;
            margin-bottom: 10px;
        }
        &__button{
            max-width: none;
        }
    }
    .earnings{
        &__reservation-input{
            margin-bottom: 10px;
        }
    }
}
@media screen and (max-width:600px){
    .header{
        &__call-block{
            display: none;
        }
    }
    .menu-adaptive{
        &__button{
            display: block;
        }
    }
    .about{
        &__img-block{
            height: auto;
            
        }
        &__text-block{
            padding: 20px;
        }
    }
}
@media screen and (max-width:500px){
    .header{
       
        &__logo{
            margin: 0 auto;
        }
    }
    .school{
        &__title{
            font-size: 25px;
        }
        &__title--big{
            font-size: 38px;
        }
        &__subtitle{
            br{
                display: none;
            }
        }
        &__block-dotted{
            padding: 15px 10px;
        }
        .icon-team{
            width: 20px;
        }
        &__block-dotted-text{
            font-size: 14px;
        }
        &__input{
            height: 30px;
        }
        &__button{
            height: 30px;
            padding: 5px 15px 5px 23px;
        }
    }
    .earnings{
        padding: 40px 0 20px;
        &__payment{
            padding: 20px 10px;
        }
        &__reservation{
            padding: 30px 10px;
        }
        &__reservation-title{
            font-size: 14px;
        }
        &__reservation-input{
            height: 30px;
        }
        &__reservation-button{
            height: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        &__reservation-agreement{
            line-height: 15px;
        }
    }
    .program{
        &__price{
           display: block;
           text-align: center;
           margin-bottom: 10px;
        }
        &__list{
            margin-bottom: 15px;
        }
        &__container{
            padding: 20px;
        }
        &__button{
            margin-left: 0;
            margin: 0 auto;
            display: block;
        }
    }
    .employment{
        &__subtitle{
            font-size: 18px;
            padding-top: 10px;
        }
        &__number{
            font-size: 25px;
            padding: 15px;
        }
        .icon-call{
            width: 20px;
        }
        &__form{
            margin-top: 20px;
        }
        &__input{
            max-width: none;
            margin-bottom: 10px;
        }
        &__button{
            margin-left: 0;
            width: 100%;
            max-width: none;
        }

    }
    .title{
        font-size: 25px;
    }
    .contacs{
        &__input{
            width: 100%;
        }
        &__button{
            width: 100%;
            max-width: none;
        }
        &__agreement{
            text-align: center;
            line-height: 15px;
            display: block;
            margin-top: 10px;
            width: 100%;
        }
    }
    .button{
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
@media screen and (max-width:400px){
    .footer{
        &__list{
            flex-direction: column;
        }
    }
}
@media screen and (max-width:350px){
    .program{
        &__button{
            .icon{
                right: -20%;
            }
        }
    }
}