
*{outline:none !important;}
html{height:100%; font-size:14px; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; -o-text-size-adjust:100%; -webkit-text-size-adjust:100%; text-size-adjust:100%;}
body{width:100%; height:100%; margin:0 auto; padding:0; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-family: 'Futura PT', sans-serif; font-size:14px; line-height:25px; color:#020202; overflow-x:hidden; position:relative;}
h1, h2, h3, h4, h5, h6, p{display:block; margin:0; padding:0; font-weight:400;}
.h1, .h2, .h3, .h4, .h5, .h6{margin:0; padding:0; float:none;}
img, input, textarea, button, a{border:none; outline:none; font-family: 'Futura PT', sans-serif; font-weight:400;}
textarea{position:relative; overflow:hidden; resize:none; box-sizing:border-box; display:block; width:100%;}
a{cursor:pointer; color:#020202; text-decoration:none;}
table{border-spacing:0;}
td, th{vertical-align:middle !important; word-wrap:break-word;}
ul, nav, dl{margin:0; padding:0; list-style:none;}
button{display:block; cursor:pointer; box-sizing:border-box; padding:0;}
.inputbox::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #757575;}
.inputbox::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #757575;}
.inputbox:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #757575;}
.inputbox:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #757575;}
.inputbox:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #757575;}
.textarea::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #757575;}
.textarea:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #757575;}
.textarea:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #757575;}
.textarea:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
#wrapper{width:100%; height:auto; margin:0 auto; position:relative; min-height:100%;overflow: hidden;}
.container{width: 100%; margin: 0 auto;padding: 0 15px; position: relative;}

.nav-toggle {position: absolute;background: transparent;border: 1px solid transparent;z-index: 4;right: 15px;top: 23px;}
.nav-toggle:focus {outline-width: 0;}
.nav-toggle [class*='bar-'] { background: #089ee7; display: block;-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .2s all;transition: .2s  all;height: 5px;width: 30px;margin-bottom: 4px;}
.nav-toggle .bar-bot {margin-bottom: 0;}
.open .bar-top {background-color: #089ee7; -webkit-transform: rotate(45deg);transform: rotate(45deg);-webkit-transform-origin: 0% 50%;transform-origin: 0% 50%;}
.open .bar-mid {opacity: 0;}
.open .bar-bot {background-color: #089ee7; -webkit-transform: rotate(45deg);transform: rotate(-45deg);-webkit-transform-origin: 15% 95%;transform-origin: 15% 95%;}

/* <button class="nav-toggle">
          <span class="bar-top"></span>
          <span class="bar-mid"></span>
          <span class="bar-bot"></span>
    </button> */